@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

body {
    font-family: 'Source Sans Pro';
    background-color: lightgray;
}

.newspaper-container {
    width: 700px;
    background-color: #eee;
    border-radius: 10px;
    box-shadow: 10px 4px 4px darkgray;
    padding: 2em 3em;
    margin: 1em 32em;
}

header h1 {
    text-align: center;
    font-family: 'Abril Fatface';
}

h2, h4, h5 {
    font-family: 'Roboto Slab';
}

h2{
    margin-bottom: 2px;
}

h5{
    color: red;
    margin-top: 5px;
}

nav {
    border-top: 1px solid #777;
    border-bottom: 1px solid #777;
}

ul {
    padding-left: 0px;
}

ul li{
    list-style: none;
    margin-left: 0;
    display: inline-block;
    padding: 0 .4em;
}

ul li a {
    text-decoration: none;
    color: #777;
}

main img {
    width: 100%;
    height: auto;
}

main p {
    text-align: justify;
    border-bottom: 1px solid #777;
    padding-bottom: 2em;
}

.more-articles {
    display: inline-block;
}

.more-articles section {
    display: inline-block;
    width: 40%;
    margin-inline: 2em;
}

.bonus-articles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.bonus-articles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px; 
}

.grid-item {
    width: 100%;
}

.grid-item img {
    width: 100%;
}

footer {
    text-decoration: none;
    text-align: center;
}

footer > h2 {
    font-family: 'Abril Fatface';
}