@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

body {
    font-family: 'Source Sans Pro';
}

.newspaper-container {
    width: 700px;
    border-radius: 10px;
    box-shadow: 10px 4px 4px #ddd;
    padding: 2em 1em;
}

header h1 {
    text-align: center;
    font-family: 'Abril Fatface';
}

h2, h4, h5 {
    font-family: 'Roboto Slab';
}

h2{
    margin-bottom: 2px;
}

h5{
    color: red;
    margin-top: 5px;
}

nav {
    border-top: 1px solid #777;
    border-bottom: 1px solid #777;
}

ul {
    padding-left: 0px;
}

ul li{
    list-style: none;
    margin-left: 0;
    display: inline-block;
    padding: 0 .4em;
}

ul li a {
    text-decoration: none;
    color: #777;
}

main img {
    width: 100%;
    height: auto;
}

main p {
    text-align: justify;
}